<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./assets/footerstyle.css">

	<title>Event One</title>
</head>

<%- include('header.ejs') -%>

<main class="container-fluid p-3">
    <div class="container jumbotron">
        <form method="POST">
                
          <label>
            Title 
            <br>
            <input type="text" name="title">
          </label>
          
          <br>
          <label>
            Date 
            <br>
            <input type="date" name="date">
          </label>
          
          <br>
          <label>
            Time 
            <br>
            <input type="datetime" name="time">
          </label>
          
          <br>
          <label>
            Location 
            <br>
            <input type="text" name="location">
          </label>
          <br>
          <label>
            Category 
            <br>
            <select name="category" id="category">
                <option value="festivity">Festivity</option>
                <option value="adventure">Adventure</option>
            </select>
          </label>
          <br>
          <label>
            Enter any details if necessary 
            <br>
            <input type="text" name="details">
          </label>
          <br>
          <br>
          <input type="submit" formaction="/user/createevent" value="submit"/>
        </form>
    </div>
</main>

<%- include ('footer.ejs') -%>
</html>